@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

  .container {
    /* border: 1px solid lightgray; */
    width: 900px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px auto;
    padding-top: 10px;
    min-height: 100vh;
  }
  .review_content { 
    text-align: center;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 2%;
   }
   
   .stars {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
   }
   
   .bill {
      margin-left: 22%;
      font-family: 'Noto Sans KR', sans-serif;
   }
   
     
  .button-area{
  margin: 30px;
  display: absolute;
  text-align: center;
  }
   
  