<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.MyTownBoardDao">
  
  <resultMap id="myTownBoardMap" type="myTownBoard">
    <id column="tno" property="no"/>
    <result column="title" property="title"/>
    <result column="cont" property="content"/>
    <result column="date" property="createdDate"/>
    <result column="vw_cnt" property="viewCount"/>
    <result column="cmt_cnt" property="commentCount"/>
    
    <association property="writer" javaType="member">
      <id column="writer_no" property="no"/>
      <result column="writer_nick" property="nick"/>
    </association>
    
    <association property="bigAddress" javaType="bigAddress">
      <id column="bigAddress_no" property="no"/>
      <result column="bigAddress_name" property="name"/>
    </association>

    <association property="smallAddress" javaType="smallAddress">
      <id column="smallAddress_no" property="no"/>
      <result column="smallAddress_name" property="name"/>
    </association>
    
    <!-- 
    <association property="comment" javaType="comment">
      <id column="comment_no" property="no"/>
      <id column="comment_content" property="content"/>
      <id column="comment_writer" property="writer"/>      
    </association>
     -->
     
  </resultMap>
  
  <insert id="insert" parameterType="mytownboard">
    insert into pet_mytown(cno, title, cont, writer) 
    values(#{smallAddress.no}, #{title}, #{content}, #{writer.no})
  </insert>
  
  <select id="findByArea" resultMap="myTownBoardMap" parameterType="map">
    select
      t.tno, 
      t.title, 
      t.date, 
      t.vw_cnt,
      t.cmt_cnt,
      m.mno as writer_no, 
      m.nick as writer_nick,
      s.gno as bigAddress_no, 
      s.gname as bigAddress_name,
      c.cno as smallAddress_no, 
      c.cname as smallAddress_name
    from pet_state s
      inner join pet_city c on s.gno=c.gno
      inner join pet_mytown t on c.cno=t.cno
      inner join pet_user m on t.writer=m.mno  
    where c.cno=#{cno} and s.gno=#{gno}
    order by t.tno desc
  </select>

  <select id="findByKeyword" resultMap="myTownBoardMap" parameterType="string">
    select
      t.tno, 
      t.title, 
      t.date, 
      t.vw_cnt,
      t.cmt_cnt,
      m.mno as writer_no, 
      m.nick as writer_nick,
      s.gno as bigAddress_no, 
      s.gname as bigAddress_name,
      c.cno as smallAddress_no, 
      c.cname as smallAddress_name
    from pet_state s
      inner join pet_city c on s.gno=c.gno
      inner join pet_mytown t on c.cno=t.cno
      inner join pet_user m on t.writer=m.mno  
    <if test="value != null">
    where 
      t.title like concat('%', #{value},'%')
      or m.nick like concat('%', #{value},'%')
      or t.cont like concat('%', #{value},'%')
    </if>
    order by t.tno desc
  </select>
  
  <select id="findByNo" resultMap="myTownBoardMap" parameterType="int">
    select
      t.tno,
      t.title,
      t.cont,
      t.date,
      t.vw_cnt,
      t.cmt_cnt,
      m.mno as writer_no,
      m.nick as writer_nick,
      s.gno as bigAddress_no,
      s.gname as bigAddress_name,
      c.cno as smallAddress_no,
      c.cname as smallAddress_name
    from pet_city c
      inner join pet_state s on s.gno=c.gno
      inner join pet_mytown t on c.cno=t.cno
      inner join pet_user m on t.writer=m.mno
    where t.tno=#{value}
  </select>
  
  <update id="update" parameterType="mytownboard">
    update pet_mytown set
      title = #{title},
      cont = #{cont},
    date = now()
    where tno=#{tno}
  </update>
  
  <update id="updateViewCount" parameterType="int">
    update pet_mytown set 
      vw_cnt = vw_cnt + 1 
    where tno = #{value}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pet_mytown
    where tno=#{value}
  </delete>

</mapper>







