<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.PetDao">
  
  <resultMap id="petMap" type="pet">
    <id column="pno" property="no"/>
    <result column="pname" property="name"/>
    <result column="age" property="age"/>
    <result column="birth" property="birth"/>
    <result column="gender" property="gender"/>
    <result column="photo" property="photo"/>
    
    <association property="owner" javaType="member">
	    <id column="owner_no" property="no"/>
	    <result column="owner_name" property="name"/>
    </association>
    
    <association property="type" javaType="type">
      <id column="type_no" property="no"/>
      <result column="type_type" property="type"/>
    </association>
    
  </resultMap>
  
  <insert id="insert" parameterType="pet"
    useGeneratedKeys="true" keyColumn="pno" keyProperty="no">
    insert into pet_mypet(pname, age, birth, gender, owner, type) 
    values(#{name}, #{age}, #{birth}, #{gender}, #{owner.no}, #{type.no})
  </insert>
  
  <select id="findByNo" resultMap="pet" parameterType="int">
    select
      p.mno,
      p.pname, 
      p.age,
      p.birth,
      p.gender, 
      p.photo, 
      m.nowner 
    from pet_mypet p 
    join pet_user m on m.mno = p.pno
    where p.pno = #{value}
  </select>
  
  <update id="update" parameterType="pet">
    update pet_mypet set
        pname = #{pname}
    where no = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pet_mypet 
    where no = #{value}
  </delete>

</mapper>







