<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.RecordDao">
  
  <resultMap id="recordMap" type="record">
    <id column="no" property="no"/>
    <result column="state" property="state"/>
    <result column="history" property="record"/>
  </resultMap>
  
  <insert id="insert" parameterType="record">
    insert into pet_hprecord(hno,pno,state,history) 
    values(#{hno},#{pno},#{state}, #{history})
  </insert>
  
  <select id="findAll" resultMap="recordMap">
    select 
      no,
      state,
      history
    from pet_hprecord 
    order by name asc
  </select>
  
  <select id="findByName" resultMap="recordMap" parameterType="string">
    select 
      no,
      state,
      history
    from pet_hprecord
    where name = #{value}
    order by name asc
  </select>
  
  <select id="findByNo" resultMap="recordMap" parameterType="int">
    select 
      no,
      name,
      state,
      history
    from pet_hprecord 
    where no = #{value}
  </select>
  
  <update id="update" parameterType="record">
    update pet_hprecord 
    <set> 
       update pet_hprecord set
        state = #{state},
        history = #{history}
    where no = #{no}
    </set>
    where no=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pet_hprecord 
    where no=#{value}
  </delete>

</mapper>







