<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.ScrapDao">
  
  <resultMap id="scrapMap" type="scrap">
    <id column="sno" property="no"/>
    <result column="is_scrap" property="isScrap"/>
       
    <association property="member" javaType="member">
      <id column="member_no" property="no"/>
      <result column="member_nick" property="nick"/>
    </association>
    
    <association property="story" javaType="story">
      <id column="story_no" property="no"/>
      <result column="story_title" property="title"/>
      <result column="story_url" property="url"/>
      <result column="story_site" property="site"/>
      <result column="story_rdt" property="registeredDate"/>
    </association>

  </resultMap>
  
  <insert id="insert" parameterType="scrap">
    insert into pet_st_scrap(nno, mno) 
    values(#{story.no}, #{member.no});
  </insert>
  
  <select id="findByUser" resultMap="scrapMap" parameterType="int">
	  select
	    s.sno,
	    s.is_scrap,
      n.nno as story_no,
      n.title as story_title,
      n.url as story_url,
      n.site as story_site,
      n.rdt as story_rdt,
      m.mno as member_no,
      m.nick as member_nick,
      s.rdt
    from pet_st_news n
      inner join pet_st_scrap s on n.nno=s.nno
      inner join pet_user m on s.mno=m.mno
    where m.mno=#{value}
  </select>
  
  <select id="findByNo" resultMap="scrapMap" parameterType="int">
    select
      s.sno,
      s.is_scrap,
      n.nno as story_no,
      n.title as story_title,
      n.url as story_url,
      n.site as story_site,
      n.rdt as story_rdt,
      m.mno as member_no,
      m.nick as member_nick,
      s.rdt
    from pet_st_news n
      inner join pet_st_scrap s on n.nno=s.nno
      inner join pet_user m on s.mno=m.mno
    where s.sno=#{value}
  </select>
  
  <delete id="delete" parameterType="int">
  delete from pet_st_scrap
  where sno=#{value}
  </delete>
  
  <select id="countScrap" resultType="String" parameterType="int">
  select count(*) from pet_st_scrap
  where mno=#{value}
  </select>

</mapper>







