<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.ScrapDao">
  
  <resultMap id="scrapMap" type="scrap">
    <id column="sno" property="no"/>
       
    <association property="user" javaType="member">
      <id column="user_no" property="no"/>
      <result column="user_nick" property="nick"/>
    </association>
    
    <association property="story" javaType="story">
      <id column="story_no" property="no"/>
      <result column="story_title" property="title"/>
      <result column="story_url" property="url"/>
      <result column="story_site" property="site"/>
    </association>

  </resultMap>
  
  <insert id="insert" parameterType="scrap">
    insert into pet_st_scrap(nno, mno) 
    values(#{story.no}, #{member.no});
  </insert>
  
  <select id="findAll" resultMap="scrapMap">
	  select
      s.nno,
      n.nno as story_no,
      n.title as story_title,
      n.url as story_url,
      n.site as story_site,
      m.mno as user_no,
      m.nick as user_nick,
      s.rdt
    from pet_st_news n
      inner join pet_st_scrap s on n.nno=s.nno
      inner join pet_user m on s.mno=m.mno
  </select>
  
  <delete id="delete" parameterType="int">
  delete from pet_st_scrap
  where sno=#{value}
  </delete>
  
  <select id="countScrap" resultType="String" parameterType="int">
  select count(*) from pet_st_scrap
  where mno=#{value}
  </select>

</mapper>







