<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.SharingMarketBoardPhotoDao">
  
  <resultMap id="sharingmarketboardPhotoMap" type="sharingmarketboardphoto">
    <id column="spno" property="no"/>
    <result column="photo" property="photo"/>
    
        <association property="sharingmarketboard" javaType="sharingmarketboard">
	    <id column="sharingmarketboard_no" property="no"/>
    </association>
  </resultMap>
  
  <sql id="find">
       select
      phot.spno,
      phot.photo,
      mark.sno as sharingmarketboard_no
    from pet_mark_phot phot
      inner join pet_mark mark on mark.sno = phot.sno
  </sql>
  
    <insert id="insert" parameterType="sharingmarketboardphoto">
    insert into pet_mark_phot(photo, sno) 
    values(#{photo}, #{sharingmarketboard.no})
  </insert>

      <select id="findAllList" resultMap="sharingmarketboardPhotoMap" parameterType="int">
      <include refid="find"/>
  </select>


      <select id="findAll" resultMap="sharingmarketboardPhotoMap" parameterType="int">
      <include refid="find"/>
      where phot.sno = #{no}
  </select>
 
  
    <select id="findByNo" resultMap="sharingmarketboardPhotoMap" parameterType="int">
    <include refid="find"/>
       where phot.spno = #{no}
  </select>
  
<!--       <select id="findByMin" resultMap="sharingmarketboardPhotoMap" parameterType="int">
       select 
       min(spno),
        phot.photo,
        mark.sno as sharingmarketboard_no
      from pet_mark_phot phot
      right join pet_mark mark on mark.sno = phot.sno
       where phot.sno = #{no}
  </select> -->
  
  
<!--   <update id="update" parameterType="sharingmarketboardphoto">
    update pet_mark_phot set
    where spno = #{no}
  </update>
   -->
    <delete id="delete" parameterType="int">
    delete from pet_mark_phot
    where sno = #{value}
  </delete>


</mapper>







