<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.SharingMarketBoardDao">
  
  <resultMap id="sharingmarketboardMap" type="sharingmarketboard">
    <id column="sno" property="no"/>
    <result column="title" property="title"/>
    <result column="cont" property="content"/>
    <result column="cdt" property="createdDate"/>
    <result column="vw_cnt" property="viewCount"/>
    
    <association property="writer" javaType="member">
	    <id column="writer_no" property="no"/>
	    <result column="writer_nick" property="nick"/>
	    <result column="writer_state" property="state"/>
    </association>
    
        <association property="category" javaType="sharingmarketboardcategory">
	    <id column="category_no" property="no"/>
	    <result column="category_name" property="name"/>
    </association>
    
  </resultMap>
  
  <sql id='select'>
    select
      mark.sno,
      mark.title,
      mark.cont,
      mark.cdt,
      mark.vw_cnt,
      mem.mno as writer_no,
      mem.name as writer_nick,
      mem.state as writer_state,
      cat.cno as category_no,
      cat.cat_name as category_name
    from pet_mark mark
      inner join pet_user mem on mem.mno = mark.writer
      inner join pet_mark_cat cat on cat.cno = mark.cno
  </sql>
  
  
  <insert id="insert" parameterType="sharingmarketboard"
        useGeneratedKeys="true" keyColumn="sno" keyProperty="no">
    insert into pet_mark(cno, title, cont, writer) 
    values(#{category.no}, #{title}, #{content}, #{writer.no})
  </insert>
  
  <select id="findAll" resultMap="sharingmarketboardMap">
  <include refid="select"></include>
      order by mark.sno desc
  </select>
  
  <select id="findByNo" resultMap="sharingmarketboardMap" parameterType="int">
    <include refid='select'/>
    where mark.sno = #{value}
  </select>
  
  <select id="findCategory" resultMap="sharingmarketboardMap" parameterType="int">
    <include refid='select'/>
    where cat.cno = #{value}
  </select>
  
  <update id="updateViewCount" parameterType="int">
    update pet_mark set 
      vw_cnt = vw_cnt + 1 
    where sno = #{value}
  </update>
  
  <update id="update" parameterType="sharingmarketboard">
    update pet_mark set
    	cno = #{category.no},
        title = #{title},
        cdt = now(), 
        cont = #{content}
    where sno = #{no}
  </update>
  
  <select id="findByKeyword" resultMap="sharingmarketboardMap" parameterType="string">
    <include refid='select'/>
   <where>	
		  <if test="item == 1 or item == 0">
		    mark.title like concat('%', #{keyword}, '%')
		  </if>
		  <if test="item == 2 or item == 0">
		    or mem.name like concat('%', #{keyword}, '%')
		  </if>
    </where>
    order by title asc
  </select>
 
  

  <delete id="delete" parameterType="int">
    delete from pet_mark 
    where sno = #{value}
  </delete>
  
  <delete id="deleteByNo">
  delete
  comt,mark
  from pet_mark_comt comt
  left join pet_mark mark on mark.sno = comt.sno
    where comt.sno = #{value}
  </delete>

</mapper>







