<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.SharingMarketBoardDao">
  
  <resultMap id="sharingmarketboardMap" type="sharingmarketboard">
    <id column="sno" property="no"/>
    <result column="title" property="title"/>
    <result column="cont" property="content"/>
    <result column="date" property="createdDate"/>
    <result column="vw_cnt" property="viewCount"/>
    
    <association property="writer" javaType="member">
	    <id column="writer_no" property="no"/>
	    <result column="writer_name" property="name"/>
    </association>
    
        <association property="category" javaType="sharingmarketboardcategory">
	    <id column="category_no" property="no"/>
	    <result column="category_name" property="name"/>
    </association>
    
  </resultMap>
  
  <insert id="insert" parameterType="sharingmarketboard">
    insert into pet_mark(ono, title, cont, writer) 
    values( #{category.no}, #{title}, #{content}, #{writer.no})
  </insert>
  
  
      <select id="findAll" resultMap="sharingmarketboardMap" parameterType="sharingmarketboard">
    select
      mark.sno,
      mark.title,
      mark.cont,
      mark.date,
      mark.vw_cnt,
      mem.mno as writer_no,
      mem.name as writer_name,
      cat.ono as category_no,
      cat.name as category_name
    from pet_mark mark
      inner join pet_user mem on mem.mno = mark.writer
      inner join pet_mark_cat cat on cat.ono = mark.category
  </select>
  
<!--  
  <select id="findByKeyword" resultMap="boardMap" parameterType="string">
    select
      mark.no,
      mark.category,
      mark.title,
      mark.content,
      mark.date,
      mark.vw_cnt,
      mem.no as writer_no,
      mem.name as writer_name
    from pet_mark mark
      inner join pet_member mem on mem.no=mark.writer
    <if test="value != null">
    where 
      mark.title like concat('%', #{value},'%')
      or mark.content like concat('%', #{value},'%')
      or mem.name like concat('%', #{value},'%')
    </if>
    order by mark.no desc
  </select>
  
  <select id="findByNo" resultMap="boardMap" parameterType="int">
    select
      mark.no,
      mark.title,
      mark.content,
      mark.date,
      mark.vw_cnt,
      mem.no as writer_no,
      mem.name as writer_name
    from pet_mark mark
      inner join pet_member mem on mem.no=mark.writer
    where b.no = #{value}
  </select>
  

  
  <update id="update" parameterType="sharingmarketboard">
    update pms_board set
        title = #{title}, 
        cont = #{content}
    where no = #{no}
  </update>
  
  <update id="updateViewCount" parameterType="int">
    update pet_mark set 
      vw_cnt = vw_cnt + 1 
    where no = #{value}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pms_mark 
    where no = #{value}
  </delete>
-->
</mapper>







