<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.SmallAddressDao">
  
  <resultMap id="smallAddress" type="smallAddress">
    <id column="no" property="no"/>
    <result column="name" property="name"/>
  
  
  <association property="bigAddress" javaType="bigAddress">
    <id column="bigAddress_no" property="no"/>
    <result column="bigAddress_name" property="name"/>
  </association>
  
  </resultMap>
  
  <select id="findAll" resultMap="smallAddress">
     select 
      g.gno,
      g.gname,
      c.cno,
      c.cname
    from pet_state g
    inner join pet_city c on g.gno=c.gno
  </select>
  
  <select id="findByNo" resultMap="smallAddress" parameterType="int">
     select 
      g.cno,
      g.cname,
      c.gno,
      c.gname
    from pet_state c 
    inner join pet_city g on c.cno=g.cno
    where g.cno = #{value}
  </select>

</mapper>







