<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.PetDao">
  
  <resultMap id="petMap" type="pet">
    <id column="pno" property="no"/>
    <result column="pname" property="name"/>
    <result column="age" property="age"/>
    <result column="birth" property="birthDay"/>
    <result column="gender" property="gender"/>
    <result column="photo" property="photo"/>
    
    <association property="owner" javaType="member">
	    <id column="owner_no" property="no"/>
	    <result column="owner_name" property="name"/>
    </association>
    
    <!--  
    <association property="role" javaType="member">
      <id column="role_no" property="no"/>
      <result column="role_name" property="name"/>
    </association>
    
     <association property="state" javaType="member">
      <id column="state_no" property="no"/>
      <result column="state_name" property="name"/>
    </association>
    -->
    
    <!--  
    <association property="role" javaType="member">
      <id column="role_no" property="no"/>
      <result column="role_name" property="name"/>
    </association>
    -->
    
    <!-- 
    <association property="species" javaType="species">
      <id column="species_no" property="no"/>
      <result column="species_name" property="type"/>
    </association>
     -->
     
    <association property="type" javaType="type">
      <id column="type_no" property="no"/>
      <result column="type_type" property="type"/>
    </association>
    
  </resultMap>
  
  <insert id="insert" parameterType="pet">
    insert into pet_mypet(pname, age, birth, gender, photo, owner, type) 
    values(#{name}, #{age}, #{birthDay}, #{gender}, #{photo}, #{owner.no}, #{type.no})
  </insert>
 
  <select id="findAll"  resultMap="petMap">
    select
      p.pno,
      p.pname,
      p.age,
      p.birth,
      p.gender,
      p.photo,
      m.mno as owner_no,
      m.name as owner_name,
      t.rno as type_no, t.type as type_type
    from pet_mypet p
    inner join pet_type t on p.type = t.rno
    inner join pet_species s on s.sno = t.sno
    inner join pet_user m on m.mno=p.owner
  </select>
<!-- 
    inner join pet_species s on s.sno=t.sno
 -->
  <select id="findByNo" resultMap="petMap" parameterType="int">
    select
      p.pno,
      p.pname,
      p.age,
      p.birth,
      p.gender,
      p.photo,
      t.type as type_type,
      m.name as owner_name
    from pet_species s
   inner join pet_type t on s.sno = t.sno
   inner join pet_mypet p on s.type = p.type
   inner join pet_user m on m.mno=p.owner
    where p.pno = #{no}
  </select>
   
  <update id="update" parameterType="pet">
    update pet_mypet
    <set>
      <if test="name != null or name != ''">
        pname = #{name},
      </if>
      <if test="photo != null or photo != ''">
        photo = #{photo}
      </if>
    </set>
    where pno = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pet_mypet
    where pno = #{value}
  </delete>
</mapper>







