<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pms.petopia.dao.TypeDao">
  
  <resultMap id="TypeMap" type="Type">
    <id column="rno" property="no"/>
    <result column="type" property="type"/>
    
    <association property="species" javaType="species">
      <id column="species_no" property="no"/>
      <result column="species_type" property="type"/>
    </association>
  </resultMap>

  <insert id="insert" parameterType="type">
  insert into pet_type(sno, type)
  values(#{species.no}, #{type})
  </insert>
</mapper>







